.fullpage-slide {
    .slide-wrapper {
        .moon {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 29.427%;
            margin: auto;
            height: 1385px;
            width: 1385px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;

            .moon__img {
                position: relative;
                width: 39.350180505%;
                height: 39.350180505%;

                .moon__back {
                    z-index: -100;
                }

                .moon__front {
                    z-index: 200;
                }

                .cloud {
                    position: absolute;
                }

                .cloud--front1 {
                    top: 20.55045%;
                    right: -49.357798%;
                    width: 88.44%;
                }

                .cloud--front2 {
                    bottom: -18.53211%;
                    right: -28.6238532%;
                    width: 87.155%;
                }

                .cloud--front3 {
                    bottom: -5.137614678%;
                    left: -49.357798%;
                    width: 87.155%;
                }

                .cloud--back1 {
                    top: -22.38532%;
                    right: -7.706422%;
                    width: 69.724%;
                }

                .cloud--back2 {
                    top: -5.504587%;
                    left: -38.715596%;
                    width: 87.155%;
                }
            }
        }
    }
}

// @media screen and (max-width: 800px) {
//     .moon {
//         width: 100vw;
//         height: 100vw;
//         left: 23%;
//     }
// }

// @media screen and (max-width: 420px) {
//     .moon {
//         width: 165vw;
//         height: 165vw;
//         left: 50%;
//         top: -10rem;
//         bottom: auto;
//         -webkit-transform: translate3d(-50%, 0, 0);
//         transform: translate3d(-50%, 0, 0);
//     }
// }

// @media screen and (max-width: 800px) {
//     .moon__text {
//         font-size: 3.2rem;
//     }
// }

// @media screen and (max-width: 420px) {
//     .moon__text {
//         font-size: 2.4rem;
//         text-shadow: 0 4px 6px rgba(2, 11, 22, 0.2);
//     }
// }
