@import "../../utilities/variables";

.portfolio {
    .wrapper {
        .main {
            width: 100%;
            height: 100%;
            display: flex;
            position: sticky;

            .left {
                height: 100%;
                width: 3%;
                // background: $secondary-color;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;

                // .image {
                //     display: flex;
                //     justify-content: space-around;
                //     align-items: center;
                //     flex-direction: column;
                //     height: 50%;

                //     img {
                //         max-width: 100%;
                //         height: 40px;
                //         opacity: 0.8;
                //         cursor: pointer;
                    
                //         &.arrow-up {
                //             transform: rotate(180deg);
                //         }
                //     }
                // }
                
                .title {
                    transform: rotate(-90deg);
                    letter-spacing: 0.7rem;
                    p {
                        width: 80vh;
                        text-align: center;

                        span {
                            color: $highlight-color;
                        }
                    }
                    // font-size: 20px;
                }
            }

            .center {
                height: 90vh;
                width: 67%;
                transform: translate(0, -5%);
                position: relative;

                .wrapper {
                    height: 100%;
                    width: 99%;
                    background: #ccc;
                    position: absolute;
                    transition: all 1s;

                    &.pack1 {
                        background: black;
                        max-height: 500px;
                        max-width: 500px;
                        top: 2rem;
                        right: 2rem;
                        left: auto;
                        transform: translate(0);
                        z-index: 4;
                    }

                    &.pack2 {
                        background: gray;
                        height: 70%;
                        width: 80%;
                        bottom: 2.5rem;
                        right: 1rem;
                        top: auto;
                        left: auto;
                        transform: translate(0);
                        z-index: 2;
                    }

                    &.pack3 {
                        background: #ccc;
                        height: 70%;
                        width: 80%;
                        top: 0;
                        left: 0;
                        transform: translate(0);
                        z-index: 1;
                    }

                    &.pack4 {
                        background: #666;
                        height: 50%;
                        width: 60%;
                        left: 0;
                        transform: translate(0);
                        z-index: 3;
                    }
                }
            }

            .right {
                height: 100%;
                width: 30%;
                background: #ccc;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }
        }
    }
}