@import "../../utilities/variables";

.contact {
    .main {
        .contact-block {
            width: 50vw;
            height: 100vh;
            position: absolute;

            .header {
                width: 100%;
                height: 100px;
            }
        }

        .left {
            bottom: 0;
            left: 0;

            .header {
                background: $highlight-color;
            }
        }

        .right {
            top: 0;
            right: 0;

            .header {
                background: $background-color;
            }

            .contact-map {
                width: 100%;
                height: calc(100% - 100px);
            }
        }
    }
}