@import "./utilities/fonts";
@import "./utilities/variables";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    color: $text-color;
}

body {
    min-height: 100vh;
    font-family: "futura_r";
    letter-spacing: 0.1em;
    font-size: $text-fontsize;
    background-image: $background-image;
}

a {
    color: $text-color;
    text-decoration: none;
    transition: all 0.5s;

    &:hover {
        color: $text-hover-color;
    }
}
