@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "futura_r";
    src: url("../public/fonts/FuturaRegular.ttf") format("opentype");
}

@font-face {
    font-family: "april_j";
    src: url("../public/fonts/AprilJune.ttf") format("opentype");
}

@layer {

    html,
    body {
        @apply box-border;
        @apply p-0;
        @apply m-0;
        @apply scroll-smooth;
        @apply text-white;
        @apply min-h-screen;
        @apply leading-[0.1rem];
        @apply text-xl;
        font-family: "futura_r";
        background-image: linear-gradient(15deg, #070a0e 0%, #0d1216 17%, #12171c 33%, #161c23 50%, #171f26 67%, #1a242d 83%, #1d2a34 100%);
        -ms-overflow-style: none;
        scrollbar-width: none;
        scroll-behavior: smooth;
    }

    a {
        @apply text-inherit;
        @apply no-underline;
    }

    img {
        @apply w-full;
    }

    * {
        @apply box-border;
    }

    .moon-wrapper .moon {
        @apply h-[1358px];
        @apply w-[1358px];
        @apply top-[20%];
    }

    .moon-wrapper .moon__img {
        @apply w-[39.350180505%];
        @apply h-[39.350180505%];
    }

    .moon-wrapper .moon__img .cloud--front1 {
        @apply top-[20.55045%];
        @apply right-[-49.357798%];
        @apply w-[88.44%];
    }

    .moon-wrapper .moon__img .cloud--front2 {
        @apply bottom-[-18.53211%];
        @apply right-[-28.6238532%];
        @apply w-[87.155%];
    }

    .moon-wrapper .moon__img .cloud--front3 {
        @apply bottom-[-5.137614678%];
        @apply left-[-49.357798%];
        @apply w-[87.155%];
    }

    .moon-wrapper .moon__img .cloud--back1 {
        @apply top-[-22.38532%];
        @apply right-[-7.706422%];
        @apply w-[69.724%];
    }

    .moon-wrapper .moon__img .cloud--back2 {
        @apply top-[-5.504587%];
        @apply left-[-38.715596%];
        @apply w-[87.155%];
    }

    .moonlight__img {
        background: url("../public/images/header/moonlight.svg") no-repeat;
        background-size: 100%;
    }

    .star {
        @apply w-[1300px]
    }

    .moonlight {
        @apply top-[20%];
        @apply h-[1385px];
        @apply w-[1385px];
    }

    .img::after,
    .img::before {
        @apply content-[''];
        @apply w-full;
        @apply h-full;
        @apply absolute;
        @apply left-0;
        @apply top-0;
        @apply z-[1];
    }

    .img::before {
        background: radial-gradient(circle at bottom, #8648fe, #c33510 50%);
        mix-blend-mode: darken;
    }

    .img::after {
        box-shadow: inset 0 100px 90px -7px rgba(0, 0, 0, 0.7);
        @apply z-[2];
    }

    .about .description {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .skills .content>span {
        height: 100% !important;
        position: absolute !important;
        left: 0;
        z-index: 2;
    }

    .skills .content img {
        max-width: 100% !important;
    }

    .glitch-effect,
    .contact {
        box-shadow: inset 0 100px 90px -7px rgba(0, 0, 0, 0.7);
    }

    .contact-title {
        font-size: clamp(24px, 5vw, 50px);
    }

    .glitch-effect::before {
        background: url('/images/avatar.jpeg') no-repeat 50% 50% / cover;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: inherit;
        left: 0;
        top: 0;
        filter: saturate(0) brightness(0.75) contrast(1.5);
    }

    .glitch-effect::after {
        background: radial-gradient(circle at bottom, #8648fe, #c33510 50%);
        mix-blend-mode: darken;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: inherit;
        left: 0;
        top: 0;
    }

    .glitch-effect:nth-child(n+2) {
        opacity: 0;
        animation-duration: 3s;
        animation-delay: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .glitch-effect:nth-child(2) {
        background-color: transparent;
        background-blend-mode: none;
        animation-name: glitch-anim-2;
    }

    .glitch-effect:nth-child(2) {
        background-color: transparent;
        background-blend-mode: none;
        animation-name: glitch-anim-3;
    }

    .glitch-effect:nth-child(4) {
        background-color: transparent;
        background-blend-mode: none;
        animation-name: glitch-anim-4;
    }

    .glitch-effect:nth-child(5) {
        background-color: #af4949;
        background-blend-mode: overlay;
        animation-name: glitch-anim-flash;
    }
}

@keyframes glitch-anim-flash {

    0%,
    5% {
        opacity: 0.2;
        transform: translate3d(var(--glitch-horizontal), 100vh, 0)
    }

    5.5%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes glitch-anim-2 {
    0% {

        opacity: 1;
        transform: translate3d(10px, 0, 0);
        -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
        clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);

    }

    2% {

        -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
        clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);

    }

    4% {

        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
        clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);

    }

    6% {

        -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
        clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);

    }

    8% {

        -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
        clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);

    }

    10% {

        -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
        clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);

    }

    12% {

        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);

    }

    14% {

        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);

    }

    16% {

        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);

    }

    18% {

        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);

    }

    20% {

        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);

    }

    21.9% {

        opacity: 1;
        transform: translate3d(10px, 0, 0);

    }

    22%,
    100% {

        opacity: 0;
        transform: translate3d(0, 0, 0);
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);

    }
}

@keyframes glitch-anim-3 {
    0% {

        opacity: 1;
        transform: translate3d(calc(-1 * 10px), 0, 0);
        -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
        clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);

    }

    3% {

        -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
        clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);

    }

    5% {

        -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
        clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);

    }

    7% {

        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);

    }

    9% {

        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
        clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);

    }

    11% {

        -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
        clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);

    }

    13% {

        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);

    }

    15% {

        -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
        clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);

    }

    17% {

        -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
        clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);

    }

    19% {

        -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
        clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);

    }

    20% {

        -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
        clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);

    }

    21.9% {

        opacity: 1;
        transform: translate3d(calc(-1 * 10px), 0, 0);

    }

    22%,
    100% {

        opacity: 0;
        transform: translate3d(0, 0, 0);
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}

@keyframes glitch-anim-4 {
    0% {
        opacity: 1;
        transform: translate3d(0, calc(-1 * 5px), 0) scale3d(-1, -1, 1);
        -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
        clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    }

    1.5% {
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
        clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    }

    2% {
        -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
        clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    }

    2.5% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }

    3% {
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
        clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    }

    5% {
        -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
        clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    }

    5.5% {
        -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
        clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    }

    7% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
        clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    }

    8% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
        clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    }

    9% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
        clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    }

    10.5% {
        -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
        clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    }

    11% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
        clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    }

    13% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
        clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    }

    14% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
        clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    }

    14.5% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
        clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    }

    15% {
        -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
        clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    }

    16% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }

    18% {
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
        clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    }

    20% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
        clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    }

    21.9% {
        opacity: 1;
        transform: translate3d(0, calc(-1 * 5px), 0) scale3d(-1, -1, 1);
    }

    22%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);

    }
}

.skill-content::before {
    content: "";
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: #c33510;
    border-radius: 50%;
    top: 50%;
    right: -100px;
    transform: translateY(-50%);
    opacity: 0.8;
}

.skill-content::after {
    content: "";
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: #c33510;
    opacity: 0.6;
    border-radius: 50%;
    top: -100px;
    left: -100px;
}

.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    border: 2px solid #c33510;
    transition: transform 0.5s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
}

.grow,
.grow-small {
    transform: scale(4);
    background: white;
    mix-blend-mode: difference;
    border: none;
}

.grow-small {
    transform: scale(2);
}

.pulse {
    height: 100px;
    width: 200px;
    overflow: hidden;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.pulse::after {
    content: '';
    display: block;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200px 50px"><polyline fill="none" stroke-width="3px" stroke="red" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: 2s pulse infinite linear;
}

@keyframes pulse {
    0% {
        clip: rect(0, 0, 200px, 0);
    }

    10% {
        clip: rect(0, 200px/3, 200px, 0);
    }

    38% {
        clip: rect(0, 200px/1.5, 200px, 0);
    }

    48% {
        clip: rect(0, 200px, 200px, 0);
    }

    52% {
        clip: rect(0, 200px, 200px, 0);
    }

    62% {
        clip: rect(0, 200px, 200px, 200px/3);
    }

    90% {
        clip: rect(0, 200px, 200px, 200px/1.5);
    }

    100% {
        clip: rect(0, 200px, 200px, 200px);
    }
}

@media (pointer:coarse) {
    .cursor {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .fullpage-slide {
        max-height: 800px;
    }
}