@import "../../utilities/variables";

.about {
    height: 100vh;
    width: 100vw;
    position: relative;

    .wrapper {
        .content-wrapper {
            height: 100%;
            width: 100%;
            display: flex;
            position: relative;

            &>.header {
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h3 {
                    font-size: 60px;
                    padding: 2.5rem;
                    letter-spacing: 0.25rem;

                    span {
                        color: $highlight-color;
                    }
                }

                .sub-content {
                    transform: translate(60%);
                    line-height: 1.8;
                    margin-bottom: 1rem;

                    .code-tag {
                        color: #ccc;

                        &.close {
                            margin-left: 6.5rem;
                        }
                    }

                    .text {
                        margin-left: 2rem;

                        &:nth-child(3) {
                            margin-left: 3.5rem;
                        }
                    }
                }
            }

            .content {
                width: 50%;
                height: 100%;
                position: relative;

                &.image {
                    background: black;
                    position: relative;
                    overflow: hidden;
                    border-radius: 5px;
                }

                &.text {
                    position: relative;

                    .layer {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: -5%;

                        .opacity {
                            overflow: hidden;
                            height: 100%;
                            position: relative;

                            &::before {
                                content: "";
                                position: absolute;
                                width: 5%;
                                height: 100%;
                                background: $highlight-color;
                                transform: rotate(3deg) translate(-65%, -10%);
                                opacity: 0.2;
                            }

                            &::after {
                                content: "";
                                position: absolute;
                                width: 10%;
                                height: 100%;
                                background: $highlight-color;
                                transform: rotate(5deg) translate(-70%, -10%);
                                opacity: 0.1;
                            }
                        }
                    }

                    .haft {
                        width: 100%;
                        height: 50%;

                        &.main {
                            position: absolute;

                            --mainwidth: 52px;
                            right: 0;
                            // max-width: 960px;
                            width: calc(100% + var(--mainwidth));
                            z-index: 4;

                            .items {
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                max-width: 980px;
                                left: 0;

                                .item {
                                    width: 32%;
                                    height: 100%;
                                    border-radius: 8px;
                                    background: #1d2933;
                                    position: absolute;
                                    max-width: 320px;
                                    overflow: hidden;

                                    &:first-child {
                                        left: 0;
                                        top: 5%;
                                    }

                                    &:nth-child(3) {
                                        left: 50%;
                                        top: 25%;
                                        transform: translate(-50%, -50%);
                                    }

                                    &:nth-child(2) {
                                        right: 0;
                                        top: 15%;
                                    }

                                    .header {
                                        text-align: center;
                                        text-transform: uppercase;

                                        &>.content {
                                            width: 100%;

                                            img {
                                                max-width: 100%;
                                                height: 64px;
                                                background: white;
                                                border-radius: 50%;
                                            }
                                        }
                                    }

                                    &.frontend {
                                        border-right: 10px $highlight-color solid;

                                        &>.content {
                                            width: 75%;
                                            height: auto;
                                            line-height: 1.5em;
                                            padding: 1rem;
                                            margin-left: 1rem;
                                            background-color: rgba(29, 41, 51, 0.85);
                                            border-left: 1.5px $highlight-color solid;
                                            border-bottom: 1.5px $highlight-color solid;
                                            position: relative;

                                            &::before {
                                                content: "";
                                                position: absolute;
                                                width: 90%;
                                                height: 70%;
                                                background: $highlight-color;
                                                opacity: 0.8;
                                                z-index: -1;
                                                top: -10%;
                                                left: -10%;
                                            }

                                            &::after {
                                                content: "";
                                                position: absolute;
                                                width: 90%;
                                                height: 70%;
                                                background: $highlight-color;
                                                opacity: 0.6;
                                                z-index: -1;
                                                bottom: -10%;
                                                right: -10%;
                                            }
                                        }

                                        .header {
                                            padding: 2rem 1rem;
                                            text-align: left;
                                            position: relative;
                                            letter-spacing: 0.25rem;
                                            margin-bottom: 1rem;

                                            .title {
                                                display: flex;
                                                margin-top: 3px;

                                                span {
                                                    font-size: 63px;
                                                    display: block;
                                                }

                                                .sub-title {
                                                    span {
                                                        font-size: 32px;
                                                        margin-top: 6px;

                                                        &.description {
                                                            font-size: 17px;
                                                            margin-top: 0;
                                                        }
                                                    }
                                                }
                                            }

                                            &::before {
                                                content: "";
                                                position: absolute;
                                                width: 7px;
                                                height: 55px;
                                                left: 0;
                                                top: 50%;
                                                transform: translate(0, -50%);
                                                background: $highlight-color;
                                            }
                                        }
                                    }

                                    &.backend {
                                        &>.content {
                                            height: 50%;
                                            width: 100%;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            flex-direction: column;
                                            line-height: 3rem;
                                            letter-spacing: 0.2rem;
                                        }

                                        .header {
                                            padding: 3rem 2rem;
                                            position: relative;


                                            img {
                                                padding: 10px;
                                                margin-bottom: 10px;
                                            }

                                            &::before {
                                                content: "";
                                                position: absolute;
                                                width: 50%;
                                                height: 100%;
                                                top: 0;
                                                left: 0;
                                                background: $highlight-color;
                                            }
                                        }
                                    }

                                    &.design {
                                        position: relative;
                                        overflow: hidden;
                                        
                                        &>.content {
                                            width: 75%;
                                            position: absolute;
                                            letter-spacing: 0.2rem;
                                            z-index: 2;
                                            top: 50%;
                                            transform: translate(1rem, 8%);
                                            padding: 1rem;
                                            line-height: 2.6rem;
                                        }

                                        .header {
                                            padding: 3rem 2rem;

                                            &>.content {
                                                img {
                                                    padding: 10px;
                                                    margin-bottom: 10px;
                                                    width: 64px;
                                                }
                                            }
                                        }

                                        &::before {
                                            position: absolute;
                                            content: '';
                                            height: 5px;
                                            width: 110%;
                                            background: $highlight-color;
                                            top: 45%;
                                            left: -5%;
                                            transform: rotate(-10deg);
                                        }

                                        &::after {
                                            position: absolute;
                                            content: '';
                                            height: 70%;
                                            width: 50%;
                                            background: $highlight-color;
                                            border-radius: 5px;
                                            opacity: 0.7;
                                            top: 44.5%;
                                            right: -13%;
                                            transform: rotate(-10deg);
                                            z-index: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}