.about {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.about .wrapper .content-wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.about .wrapper .content-wrapper > .header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .wrapper .content-wrapper > .header h3 {
  font-size: 60px;
  padding: 2.5rem;
  letter-spacing: 0.25rem;
}

.about .wrapper .content-wrapper > .header h3 span {
  color: #c33510;
}

.about .wrapper .content-wrapper > .header .sub-content {
  -webkit-transform: translate(60%);
          transform: translate(60%);
  line-height: 1.8;
  margin-bottom: 1rem;
}

.about .wrapper .content-wrapper > .header .sub-content .code-tag {
  color: #ccc;
}

.about .wrapper .content-wrapper > .header .sub-content .code-tag.close {
  margin-left: 6.5rem;
}

.about .wrapper .content-wrapper > .header .sub-content .text {
  margin-left: 2rem;
}

.about .wrapper .content-wrapper > .header .sub-content .text:nth-child(3) {
  margin-left: 3.5rem;
}

.about .wrapper .content-wrapper .content {
  width: 50%;
  height: 100%;
  position: relative;
}

.about .wrapper .content-wrapper .content.image {
  background: black;
  position: relative;
  overflow: hidden;
}

.about .wrapper .content-wrapper .content.text {
  position: relative;
}

.about .wrapper .content-wrapper .content.text .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -5%;
}

.about .wrapper .content-wrapper .content.text .layer .opacity {
  overflow: hidden;
  height: 100%;
  position: relative;
}

.about .wrapper .content-wrapper .content.text .layer .opacity::before {
  content: "";
  position: absolute;
  width: 5%;
  height: 100%;
  background: #c33510;
  -webkit-transform: rotate(3deg) translate(-65%, -10%);
          transform: rotate(3deg) translate(-65%, -10%);
  opacity: 0.2;
}

.about .wrapper .content-wrapper .content.text .layer .opacity::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 100%;
  background: #c33510;
  -webkit-transform: rotate(5deg) translate(-70%, -10%);
          transform: rotate(5deg) translate(-70%, -10%);
  opacity: 0.1;
}

.about .wrapper .content-wrapper .content.text .haft {
  width: 100%;
  height: 50%;
}

.about .wrapper .content-wrapper .content.text .haft.main {
  position: absolute;
  --mainwidth: 52px;
  right: 0;
  width: calc(100% + var(--mainwidth));
  z-index: 4;
}

.about .wrapper .content-wrapper .content.text .haft.main .items {
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 980px;
  left: 0;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item {
  width: 32%;
  height: 100%;
  border-radius: 8px;
  background: #1d2933;
  position: absolute;
  max-width: 320px;
  overflow: hidden;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item:first-child {
  left: 0;
  top: 5%;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item:nth-child(3) {
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item:nth-child(2) {
  right: 0;
  top: 15%;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item .header {
  text-align: center;
  text-transform: uppercase;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item .header > .content {
  width: 100%;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item .header > .content img {
  max-width: 100%;
  height: 64px;
  background: white;
  border-radius: 50%;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item.frontend {
  border-right: 10px #c33510 solid;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item.frontend > .content {
  width: 75%;
  height: auto;
  line-height: 1.5em;
  padding: 1rem;
  margin-left: 1rem;
  background-color: rgba(29, 41, 51, 0.85);
  border-left: 1.5px #c33510 solid;
  border-bottom: 1.5px #c33510 solid;
  position: relative;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item.frontend > .content::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 70%;
  background: #c33510;
  opacity: 0.8;
  z-index: -1;
  top: -10%;
  left: -10%;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item.frontend > .content::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 70%;
  background: #c33510;
  opacity: 0.6;
  z-index: -1;
  bottom: -10%;
  right: -10%;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item.frontend .header {
  padding: 2rem 1rem;
  text-align: left;
  position: relative;
  letter-spacing: 0.25rem;
  margin-bottom: 1rem;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item.frontend .header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item.frontend .header .title span {
  font-size: 63px;
  display: block;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item.frontend .header .title .sub-title span {
  font-size: 32px;
  margin-top: 6px;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item.frontend .header .title .sub-title span.description {
  font-size: 17px;
  margin-top: 0;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item.frontend .header::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 55px;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: #c33510;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item.backend > .content {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 3rem;
  letter-spacing: 0.2rem;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item.backend .header {
  padding: 3rem 2rem;
  position: relative;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item.backend .header img {
  padding: 10px;
  margin-bottom: 10px;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item.backend .header::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: #c33510;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item.design {
  position: relative;
  overflow: hidden;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item.design > .content {
  width: 75%;
  position: absolute;
  letter-spacing: 0.2rem;
  z-index: 2;
  top: 50%;
  -webkit-transform: translate(1rem, 8%);
          transform: translate(1rem, 8%);
  padding: 1rem;
  line-height: 2.6rem;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item.design .header {
  padding: 3rem 2rem;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item.design .header > .content img {
  padding: 10px;
  margin-bottom: 10px;
  width: 64px;
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item.design::before {
  position: absolute;
  content: '';
  height: 5px;
  width: 110%;
  background: #c33510;
  top: 45%;
  left: -5%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.about .wrapper .content-wrapper .content.text .haft.main .items .item.design::after {
  position: absolute;
  content: '';
  height: 70%;
  width: 50%;
  background: #c33510;
  border-radius: 5px;
  opacity: 0.7;
  top: 44.5%;
  right: -13%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  z-index: 1;
}
/*# sourceMappingURL=about.css.map */